<div class="wrapper">

  <%- partial ('../partials/header') %> <!-- Main Header -->
  <%- partial ('../partials/main-sidebar') %> <!-- Left side column. contains the logo and sidebar -->

  <div class="content-wrapper"> <!-- Content Wrapper. Contains page content -->

    <section class="content-header"> <!-- Content Header (Page header) -->
      <h1>Zonas <small>Datos de las Zonas de acopio</small></h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Zonas</li>
      </ol>
    </section> <!-- /. Content Header (Page header) -->

    <section class="content contentPage"> <!-- Main content -->

      <!-- Your Page Content Here -->
      <!-- Error page server list -->
      <section class="row" id="errorList" hidden></section>

      <!-- Searchs -->
      <section class="row" id="searchList" hidden>
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="input-group input-group-sm  pull-right" style="width: 250px;">
            <input type="search" name="table_search"  class="form-control pull-right" placeholder="Buscar por: Numero">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default" id="tableSearch"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </section>
      <br>


      <!-- Tabla list -->
      <section class="row" id="tableList" hidden>
        <div class="col-xs-12">
          <table class="table table-bordered table-responsive table-hover dataTable text-center">
            <thead>
              <tr role="row">
                <th style="width: 50px;">#</th>
                <th class="sorting" style="width: 60px; cursor: pointer; justify-content: center">Act:</th>
                <th class="sorting" style="width: 100px; cursor: pointer;">Numero:</th>
                <th class="sorting" style="width: 300px; cursor: pointer;">Nombre:</th>
                <th class="sorting" style="width: 200px; cursor: pointer;">Ciudad:</th>
                <th class="sorting hidden-xs" style="width: 180px; cursor: pointer;">Lat:</th>
                <th class="sorting hidden-xs" style="width: 180px; cursor: pointer;">Log:</th>
                <th class="sorting hidden-xs" style="width: 200px; cursor: pointer;">Horario:</th>
                <th style="width: 80px;">Acciones:</th>
              </tr>
            </thead>
            <tbody>
              <!-- Contenido de las tablas -->
            </tbody>
          </table>
        </div>
      </section>

      <!-- Si no hay nada en la lista mostrar que no hay en la lista -->
      <section class="row" id="listZero" hidden></section>

      <!-- Paginations list -->
      <section class="row" id="paginations" hidden>
        <div class="col-xs-6">
          <ul class="pagination" id="pagNum"></ul>
        </div>
        <div class="col-xs-6">
          <div class="pull-right pagination">
            <label class="itemWhitPage">Ver&nbsp;&nbsp;
              <select id="limitItemsPag" class="form-control input-sm" onchange="Zonas.limitPage()">
                <option value="1">&nbsp;1&nbsp;</option>
                <option value="10" selected>&nbsp;10&nbsp;</option>
                <option value="20">&nbsp;20&nbsp;</option>
                <option value="50">&nbsp;50&nbsp;</option>
              </select>&nbsp;&nbsp;Paginas
            </label>
          </div>
        </div>
      </section>

      <!-- Loader List -->
      <section class="row" id="loadersList">
        <div class="col-xs-12">
          <h3 class="text-center">Cargando Zonas...</h3>
          <div class="progress progress-striped active page-progress-bar">
            <div class="progress-bar" style="width: 100%;"></div>
          </div>
        </div>
      </section>

      <!-- Partiales  -->
      <%- partial ('p/add') %>
      <%- partial ('p/edit') %>
      <%- partial ('p/see') %>

      <!-- Boton Float -->
      <button type="button" class="btn btn-fab btn-success btn-lg btn-float" data-toggle="modal" data-target="#modalAddForm" data-placement="left" title="Agregar Nueva Zona">
        <i class="fa fa-plus"></i>
        <div class="add"></div>
      </button>

    </section> <!-- /.content -->
  </div> <!-- /.content-wrapper -->

  <%- partial ('../partials/footer') %> <!-- Main Footer -->
  <%- partial ('../partials/control-sidebar') %> <!-- Control Sidebar -->

</div>
